In [29]:
from chathist import InstructionStyle
import pandas as pd

### Trying the same of chat dataset.

In [30]:
chat_df = pd.read_json("hf://datasets/ogrnz/chat-titles/dataset.jsonl", lines=True)

In [31]:
chat_df.columns

Index(['message', 'title'], dtype='object')

In [32]:
chat_df.head()

,message,title
0,Develop a method for clustering astronomical d...,Astronomical Data Clustering Method
1,What is the role of dopamine in the brain as a...,Dopamine as a Neurotransmitter
2,"Replace the \""XXX\"" in the following sentence ...",Company Sustainability Objective
3,"Identify the sentence type (declarative, inter...",Sentence Type Identification
4,Suggest a book title for a fantasy novel about...,Outlaws in Enchanted Realms

### Alpaca

In [33]:
prompt = "###You are a very smart llm and given the input query your job is to predict the title of the input.\n"

Using InstructionStyle.load() as .load() is a static method.

In [34]:
style = InstructionStyle.load(style='alpaca',prompt= prompt,  input_query="### Input: \n", response_query="\n### Response: \n")

In [35]:
print(style.format(_input = 'Hi, what is the meaning of AI'))

###You are a very smart llm and given the input query your job is to predict the title of the input.
### Input:
Hi, what is the meaning of AI
### Response:

#### New Df using convert_train(). Can use convert_test() as well with new df and it works fine.

In [36]:
df = style.convert_train(chat_df, input_col='message', response_col= 'title', output_col='instruct', new_df=True)

In [37]:
df.head()

                                            instruct
0  ###You are a very smart llm and given the inpu...
1  ###You are a very smart llm and given the inpu...
2  ###You are a very smart llm and given the inpu...
3  ###You are a very smart llm and given the inpu...
4  ###You are a very smart llm and given the inpu...

In [38]:
print(df['instruct'].values[0])

###You are a very smart llm and given the input query your job is to predict the title of the input.
### Input:
Develop a method for clustering astronomical data.
### Response:
Astronomical Data Clustering Method

##### Existing Dataframe with convert_test(). Can use convert_train() with existing dataframe as well and it works fine.

In [39]:
df = style.convert_test(chat_df, input_col='message', output_col='instruct', new_df=False)

In [40]:
df.head()

,message,title,instruct
0,Develop a method for clustering astronomical d...,Astronomical Data Clustering Method,###You are a very smart llm and given the inpu...
1,What is the role of dopamine in the brain as a...,Dopamine as a Neurotransmitter,###You are a very smart llm and given the inpu...
2,"Replace the \""XXX\"" in the following sentence ...",Company Sustainability Objective,###You are a very smart llm and given the inpu...
3,"Identify the sentence type (declarative, inter...",Sentence Type Identification,###You are a very smart llm and given the inpu...
4,Suggest a book title for a fantasy novel about...,Outlaws in Enchanted Realms,###You are a very smart llm and given the inpu...

In [41]:
print(df['instruct'].values[0])

###You are a very smart llm and given the input query your job is to predict the title of the input.
### Input:
Develop a method for clustering astronomical data.
### Response:

### Phi3

In [42]:
style = InstructionStyle.load(style='phi3', input_query="<|user|>\n", response_query="\n<|llm|>\n")

In [43]:
print(style.format(_input = 'Hi, what is the meaning of AI'))

<|user|>
Hi, what is the meaning of AI
<|llm|>

#### New Df using convert_train(). Can use convert_test() as well and it works fine.

In [44]:
df = style.convert_train(chat_df, input_col='message', response_col= 'title', output_col='instruct', new_df=True)

In [45]:
df.head()

                                            instruct
0  <|user|>\nDevelop a method for clustering astr...
1  <|user|>\nWhat is the role of dopamine in the ...
2  <|user|>\nReplace the \"XXX\" in the following...
3  <|user|>\nIdentify the sentence type (declarat...
4  <|user|>\nSuggest a book title for a fantasy n...

In [46]:
print(df['instruct'].values[0])

<|user|>
Develop a method for clustering astronomical data.
<|llm|>
Astronomical Data Clustering Method

##### Existing Dataframe with convert_test(). Can use convert_train() with existing dataframe as well and it works fine.

In [47]:
df = style.convert_test(chat_df, input_col='message', output_col='instruct', new_df=False)

In [48]:
df.head()

,message,title,instruct
0,Develop a method for clustering astronomical d...,Astronomical Data Clustering Method,<|user|>\nDevelop a method for clustering astr...
1,What is the role of dopamine in the brain as a...,Dopamine as a Neurotransmitter,<|user|>\nWhat is the role of dopamine in the ...
2,"Replace the \""XXX\"" in the following sentence ...",Company Sustainability Objective,"<|user|>\nReplace the \""XXX\"" in the following..."
3,"Identify the sentence type (declarative, inter...",Sentence Type Identification,<|user|>\nIdentify the sentence type (declarat...
4,Suggest a book title for a fantasy novel about...,Outlaws in Enchanted Realms,<|user|>\nSuggest a book title for a fantasy n...

In [49]:
print(df['instruct'].values[0])

<|user|>
Develop a method for clustering astronomical data.
<|llm|>