In [1]:
from chathist import InstructionStyle
import pandas as pd

### Trying the same of chat dataset.

In [2]:
chat_df = pd.read_json("hf://datasets/ogrnz/chat-titles/dataset.jsonl", lines=True)

In [3]:
chat_df.columns

Index(['message', 'title'], dtype='object')

In [4]:
chat_df.head()

,message,title
0,Develop a method for clustering astronomical d...,Astronomical Data Clustering Method
1,What is the role of dopamine in the brain as a...,Dopamine as a Neurotransmitter
2,"Replace the \""XXX\"" in the following sentence ...",Company Sustainability Objective
3,"Identify the sentence type (declarative, inter...",Sentence Type Identification
4,Suggest a book title for a fantasy novel about...,Outlaws in Enchanted Realms

### Alpaca

In [5]:
prompt = "###You are a very smart llm and given the input query your job is to predict the title of the input.\n"

Using InstructionStyle.load() as .load() is a static method.

In [6]:
style = InstructionStyle.load()

2025-05-14 15:01:57,166 - INFO - phi3 style chosen!!

In [7]:
print(style.format(_input = 'Hi, what is the meaning of AI'))

<|user|>
Hi, what is the meaning of AI
<|llm|>

#### New Df using convert_train(). Can use convert_test() as well with new df and it works fine.

In [8]:
df = style.convert_train(chat_df)

In [9]:
df.head()

                                            instruct
0  <|user|>\nDevelop a method for clustering astr...
1  <|user|>\nWhat is the role of dopamine in the ...
2  <|user|>\nReplace the \"XXX\" in the following...
3  <|user|>\nIdentify the sentence type (declarat...
4  <|user|>\nSuggest a book title for a fantasy n...

In [10]:
print(df['instruct'].values[0])

<|user|>
Develop a method for clustering astronomical data.
<|llm|>
Astronomical Data Clustering Method

##### Existing Dataframe with convert_test(). Can use convert_train() with existing dataframe as well and it works fine.

In [11]:
df = style.convert_test(chat_df)

In [12]:
df.head()

                                            instruct
0  <|user|>\nDevelop a method for clustering astr...
1  <|user|>\nWhat is the role of dopamine in the ...
2  <|user|>\nReplace the \"XXX\" in the following...
3  <|user|>\nIdentify the sentence type (declarat...
4  <|user|>\nSuggest a book title for a fantasy n...

In [13]:
print(df['instruct'].values[0])

<|user|>
Develop a method for clustering astronomical data.
<|llm|>

### Phi3

In [14]:
style = InstructionStyle.load()

2025-05-14 15:01:57,306 - INFO - phi3 style chosen!!

In [15]:
print(style.format(_input = 'Hi, what is the meaning of AI'))

<|user|>
Hi, what is the meaning of AI
<|llm|>

#### New Df using convert_train(). Can use convert_test() as well and it works fine.

In [16]:
df = style.convert_train(chat_df)

In [17]:
df.head()

                                            instruct
0  <|user|>\nDevelop a method for clustering astr...
1  <|user|>\nWhat is the role of dopamine in the ...
2  <|user|>\nReplace the \"XXX\" in the following...
3  <|user|>\nIdentify the sentence type (declarat...
4  <|user|>\nSuggest a book title for a fantasy n...

In [18]:
print(df['instruct'].values[0])

<|user|>
Develop a method for clustering astronomical data.
<|llm|>
Astronomical Data Clustering Method

##### Existing Dataframe with convert_test(). Can use convert_train() with existing dataframe as well and it works fine.

In [19]:
df = style.convert_test(chat_df)

In [20]:
df.head()

                                            instruct
0  <|user|>\nDevelop a method for clustering astr...
1  <|user|>\nWhat is the role of dopamine in the ...
2  <|user|>\nReplace the \"XXX\" in the following...
3  <|user|>\nIdentify the sentence type (declarat...
4  <|user|>\nSuggest a book title for a fantasy n...

In [21]:
print(df['instruct'].values[0])

<|user|>
Develop a method for clustering astronomical data.
<|llm|>